alembic~=1.18.1
celery~=5.6.2
celery-singleton~=0.3.1
cryptography~=46.0.3
fastapi~=0.128.0
pgvector~=0.4.2
psycopg2-binary~=2.9.9
pydantic~=2.12.5
python-dotenv~=1.2.1
PyYAML~=6.0.1
requests~=2.32.0
sentence-transformers~=5.2.0
spacy~=3.8.3
spacy[cuda12x]
SQLAlchemy~=2.0.22
SQLAlchemy-Utils~=0.42.1
sseclient-py~=1.9.0
transformers~=5.0.0
uvicorn~=0.40.0
redis~=7.1.0
rapidfuzz~=3.14.3
numpy~=2.4.1
networkx~=3.6.1
PyPDF2~=3.0.1
pydantic_core~=2.41.5
torch~=2.10.0
EbookLib~=0.19
python-multipart
beautifulsoup4~=4.14.3